---
import { Image, getImage } from 'astro:assets';

import ColyseusCloudSection from '../../components/ColyseusCloudSection.astro';
import TitleSection from '../../components/TitleSection.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import CommunityStats from '../../components/CommunityStats.astro';
import JoinCommunitySection from '../../components/JoinCommunitySection.astro';

import playcanvasImage from "../../../assets/learn/playcanvas.png";
import babylonjsImage from "../../../assets/learn/babylonjs.png";
import phaserImage from "../../../assets/learn/phaser.png";
import kaplayImage from "../../../assets/learn/kaplay.webp";

import { sampleProjects } from '../../indexes/learn';
import ContentItems from '../../components/ContentItems.astro';

const playcanvas = await getImage({src: playcanvasImage, formats: ['webp']});
const babylonjs = await getImage({src: babylonjsImage, formats: ['webp']});
const phaser = await getImage({src: phaserImage, formats: ['webp']});
const kaplay = await getImage({src: kaplayImage, formats: ['webp']});
---

<MainLayout title="Learn">

  <TitleSection separator={true}>Learn</TitleSection>

  <section class="">
    <div class="container container mx-auto px-6 relative py-14 ">
      <div class="flex flex-col lg:flex-row justify-between gap-8">

        <div class="w-full lg:w-1/2">
          <h2 class="text-2xl lg:text-3xl font-medium">Tutorials</h2>
          <p class="text-sm lg:text-base mb-4 text-gray-700">How to use Colyseus with your favorite game engine or framework.</p>

          <div class="grid grid-cols-1 lg:grid-cols-2 grid-row-2 mb-8 w-full gap-4">

            <a class="w-full flex rounded-lg bg-gray-100 border transition-all hover:bg-gray-200 hover:border-gray-400 active:bg-gray-300 active:border-gray-500 " target="_blank" href="https://docs.colyseus.io/tutorial/phaser">
              <span class="rounded-l-lg w-1/3 bg-cover bg-center" style=`background-image: url(${phaser.src})`></span>
              <span class="p-4 w-2/3">
                <h3 class="text-lg font-medium text-gray-800">Phaser</h3>
                <span class="text-gray-700">Real-time movement and player input</span>
              </span>
            </a>

            <a class="w-full flex rounded-lg bg-gray-100 border transition-all hover:bg-gray-200 hover:border-gray-400 active:bg-gray-300 active:border-gray-500 " target="_blank" href="https://developer.playcanvas.com/en/tutorials/real-time-multiplayer-colyseus/">
              <span class="rounded-l-lg w-1/3 bg-cover bg-center" style=`background-image: url(${playcanvas.src})`></span>
              <span class="p-4 w-2/3">
                <h3 class="text-lg font-medium text-gray-800">PlayCanvas</h3>
                <span class="text-gray-700">Setting up client-server communication</span>
              </span>
            </a>

            <a class="w-full flex rounded-lg bg-gray-100 border transition-all hover:bg-gray-200 hover:border-gray-400 active:bg-gray-300 active:border-gray-500 " target="_blank" href="https://doc.babylonjs.com/guidedLearning/networking/Colyseus">
              <span class="rounded-l-lg w-1/3 bg-cover bg-center" style=`background-image: url(${babylonjs.src})`></span>
              <span class="p-4 w-2/3">
                <h3 class="text-lg font-medium text-gray-800">BabylonJS</h3>
                <span class="text-gray-700">Setting up client-server communication</span>
              </span>
            </a>

            <a class="w-full flex rounded-lg bg-gray-100 border transition-all hover:bg-gray-200 hover:border-gray-400 active:bg-gray-300 active:border-gray-500 " target="_blank" href="https://kaplayjs.com/guides/how-to-make-a-multiplayer-game-with-colyseus-and-kaplay/">
              <span class="rounded-l-lg w-1/3 bg-cover bg-center" style=`background-image: url(${kaplay.src})`></span>
              <span class="p-4 w-2/3">
                <h3 class="text-lg font-medium text-gray-800">KAPLAY</h3>
                <span class="text-gray-700">Creating an air-hockey game with KAPLAY + Colyseus</span>
              </span>
            </a>

          </div>

          <!-- <h2 class="text-3xl font-medium">How-to</h2>
          <p class="mb-4 text-gray-700">How to approach most common multiplayer use-cases.</p>
          Tutorials | Examples | Videos -->

        </div>

        <div class="w-full lg:w-1/2">
          <h2 class="text-2xl lg:text-3xl font-medium">Framework Overview </h2>
          <p class="text-sm lg:text-base mb-4 text-gray-700">Endel's talk for JS GameDev Summit 2022, organized by <a href="https://gitnation.org/" target="_blank">GitNation</a>.</p>
          <iframe class="w-full h-44 lg:h-72" src="https://www.youtube.com/embed/KnN6nRtfL44?start=260" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <!-- <iframe class="w-full h-96" src="https://www.youtube.com/embed/KnN6nRtfL44?start=260" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        </div>

      </div>

    </div>
  </section>

  <div class="container mx-auto px-6">
    <hr/>
  </div>

  <section class="mb-12">
    <div class="container container mx-auto px-6 relative py-14">
      <TitleSection>Sample Projects</TitleSection>

      <!-- w-full lg:w-2/3 -->
      <div class="grid grid-cols-1 lg:grid-cols-2 grid-row-2 gap-4 mx-auto">
        <ContentItems items={(sampleProjects || [])} />
      </div>
    </div>
  </section>

  <JoinCommunitySection />

</MainLayout>
