---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import CommunityStats from '../components/CommunityStats.astro';

const platforms = {
  javascript: {
    alias: "JavaScript",
    name: "JavaScript/TypeScript",
    image: "/images/sdks/javascript.png",
    url: "https://docs.colyseus.io/getting-started/javascript-client/",
  },
  unity: {
    name: "Unity",
    image: "/images/sdks/unity.png",
    url: "https://docs.colyseus.io/getting-started/unity-sdk/",
  },
  construct3: {
    name: "Construct 3",
    image: "/images/sdks/construct3.png",
    url: "https://docs.colyseus.io/getting-started/construct3-sdk/",
  },
  defold: {
    name: "Defold Engine",
    image: "/images/sdks/defold.png",
    url: "https://docs.colyseus.io/getting-started/defold-client/",
  },
  haxe: {
    alias: "Haxe",
    name: "Haxe 4",
    image: "/images/sdks/haxe.png",
    url: "https://docs.colyseus.io/getting-started/haxe-client/",
  },
  cocos: {
    alias: "Cocos",
    name: "Cocos Creator",
    image: "/images/sdks/cocos.png",
    url: "https://docs.colyseus.io/getting-started/cocos-creator/",
  },
};

const showcase = [
  { platform: "javascript", name: "Bloxd.io", image: "/images/showcase/bloxdio.jpeg", url: "https://bloxd.io/", author_link: "https://www.linkedin.com/in/arthurbbaker/", author: "Arthur Baker", },
  { platform: "javascript", name: "Make it Meme", image: "/images/showcase/makeitmeme.jpeg", url: "https://makeitmeme.com/", author_link: "https://prealpha.dev/", author: "prealpha", },
  { platform: "unity", name: "Unboxing the Cryptic Killer", image: "/images/showcase/elevenpuzzles-unboxing-the-cryptic-killer.jpeg", url: "https://store.steampowered.com/app/2069040/Unboxing_the_Cryptic_Killer/", author_link: "https://elevenpuzzles.com/", author: "Eleven Puzzles", },
  { platform: "javascript", name: "SongTrivia2", image: "/images/showcase/songtrivia2.jpeg", url: "https://songtrivia2.io/", author_link: "https://songtrivia2.io/", author: "SongTrivia", },
  { platform: "javascript", name: "Wheat Farming", image: "/images/showcase/volem-games-wheat-farming.png", url: "https://poki.com/en/g/wheat-farming", author_link: "https://twitter.com/emre_sahinn35", author: "Emre Şahin", },
  { platform: "unity", name: "Knight's Edge", image: "/images/showcase/lightfox-games-knights-edge.jpeg", url: "https://www.lightfoxgames.com/knights-edge", author_link: "https://www.lightfoxgames.com", author: "Lightfox Games", },
  { platform: "javascript", name: "Kirka.io", image: "/images/showcase/kirka-io.jpeg", url: "https://kirka.io/", author_link: "https://twitter.com/development", author: "xip", },
  { platform: "defold", name: "Raft Wars Multiplayer", image: "images/projects/raftwars.png", url: "https://poki.com/en/g/raft-wars-multiplayer", author_link: "http://www.tinydobbins.com/", author: "TinyDobbins", },
  { platform: "javascript", name: "Exploder.io", image: "/images/showcase/masterexploder-exploder.jpeg", url: "https://exploder.io/", author_link: "https://github.com/pdaw", author: "Piotr Dawidiuk", },
  { platform: "unity", name: "Seep King", image: "/images/showcase/seepking.png", url: "https://apps.apple.com/in/app/seep-king/id1603821493", author_link: "https://apps.apple.com/in/developer/jaspreet-singh/id1521881770", author: "Jaspreet Singh", },
  { platform: "unity", name: "The Kraken Wakes", image: "/images/showcase/charismaai-the-kraken-wakes.png", url: "https://store.steampowered.com/app/2100380/The_Kraken_Wakes/", author_link: "https://charisma.ai/", author: "Charisma Entertainment", },
  { platform: "unity", name: "Exposed - Who's Most Likely To", image: "/images/showcase/vys-games-exposed.png", url: "https://apps.apple.com/us/app/exposed-whos-most-likely-to/id1553777064", author_link: "https://www.vysgames.com/", author: "VYS Games", },
  { platform: "javascript", name: "Super Battle Legends", image: "/images/showcase/hammerplay-battle-legends.jpeg", url: "https://www.youtube.com/watch?v=W5I2ZbFJ8Pg", author_link: "https://hammerplay.com/", author: "Hammerplay", },
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <!-- Hero -->
      <section id="hero" class="text-gray-200">
        <div class="container mx-auto flex items-center justify-between flex-col lg:flex-row relative py-10">
          <div>
            <div class="py-20">
              <h1 class="text-4xl mb-2">Authoritative Game Servers Made Your Own</h1>
              <p>An extensible and friendly open-source framework made for game developers.</p>
            </div>

            <!-- Platforms -->
            <div>
              <p class="text-gray-400 mb-2">Officially supported SDKs</p>
              <ul class="platforms">
                {Object.values(platforms).map((platform) => (
                  <li>
                    <a href={platform.url} title={platform.name}>
                      <img src={platform.image} alt={platform.name} />
                      <span>{platform['alias'] || platform.name}</span>
                    </a>
                  </li>
                ))}
              </ul>
            </div>

          </div>

          <div>
            Right....
          </div>
        </div>
      </section>

      <section class="text-slate-900 text-center border-b border-solid border-gray-300">
        <div class="container container mx-auto relative py-14">
          <h1 class="text-2xl">Join our growing community</h1>

          <CommunityStats />

          <div class="flex space-x-8 justify-center">
            <a href="https://github.com/colyseus" target="_blank" class="mt-2 group text-purple-500 font-semibold ">
              Visit GitHub
              <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
            </a>

            <a href="/community" class="mt-2 group text-purple-500 font-semibold ">
              Join Community
              <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
            </a>
          </div>
        </div>
      </section>

      <section class="text-slate-900">
        <div class="container mx-auto py-10">
          <h1 class="text-2xl">Successful games powered by Colyseus</h1>
          <p>Made by <strong>happy developers</strong>.</p>

          <div id="showcase" class="h-96 transition-all overflow-hidden relative">
            <div class="grid gap-4 showcase-items mt-6 grid-cols-1 md:grid-cols-3">
              {showcase.map((item) => (
                <a class="rounded h-60 relative transition-opacity hover:opacity-95 group overflow-hidden" href={item.url} target="_blank" style={`background-image: url(${item.image});`}>
                  <span class="translate-y-full group-hover:translate-y-0 transition-transform absolute bottom-0 p-4 w-full rounded text-slate-100">
                    {item.name}
                    <small class="block text-gray-300">by {item.author}</small>
                    {/* <small class="block text-gray-300">by <a href={item.author_link} target="_blank">{item.author}</a></small> */}
                    <img class="absolute right-4 bottom-4 w-12" src={platforms[item.platform].image} alt={platforms[item.platform].name} />
                  </span>

                </a>
              ))}
            </div>

            <a href="javascript:void(0)" onclick="document.getElementById('showcase').classList.remove('h-96');this.remove();" class="showcase-expand-list p-8 flex h-28 justify-center items-end block w-full absolute bottom-0 mt-2 group text-purple-500 font-semibold">
              Expand all
              <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
            </a>
          </div>

        </div>
      </section>

      <section>
        <div class="container mx-auto py-20 text-center">
          <h1 class="text-4xl">Deploy your servers in minutes</h1>
          <p class="mt-4">Ready to serve hundreds and thousands of CCU. No ops required.</p>

          <div class="flex justify-center space-x-3 mt-8">
            <a href="#" class="p-4 rounded border-solid border-white bg-purple-500 text-white">Get started from $15/mo</a>
            <a href="#" class="p-4 rounded border-solid border-2 border-purple-500 bg-white text-purple-600">Speak with an expert</a>
          </div>
        </div>
      </section>
		</main>

		<Footer />
	</body>
</html>
