---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import TitleSection from '../../components/TitleSection.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { Image, getImage } from 'astro:assets';
import SponsorsSection from '../../components/SponsorsSection.astro';

const successStories = (await getCollection('success-stories')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<MainLayout>
  <TitleSection>
    Success Stories
    <p class="font-sans text-lg font-normal text-gray-500 mt-2">Inspirational interviews with people thriving with Colyseus</p>
  </TitleSection>

  <section class="container m-auto mb-24 animate-from-bottom-fade">
    <ul class="flex space-x-6 justify-center">
      {
        successStories.filter(post => post.data.published).map((post, i) => (
          <li class={"w-80 flex animate-from-bottom-fade " + "animate-delay-" + i}>
            <a href={`/success-stories/${post.slug}/`} class="bg-gray-100 block w-full rounded-lg transition-all shadow hover:shadow-lg">
              <span class="w-full block h-44 bg-cover bg-center rounded-t-lg" style={`background-image: url(${(post.data.heroImage)});`}>
              </span>
              <span class="p-4 inline-block w-full">
                <span class="text-lg">{post.data.title}</span>

                <span class="mt-2 flex text-xs justify-between items-center">
                  <span><FormattedDate date={post.data.pubDate} /></span>
                  {(post.data.author) &&
                    <span class="inline-block">
                      By
                      <span class="inline-block">
                          {(post.data.author_img) && <img class="inline w-6 rounded-full border border-gray-500 mr-1" src={post.data.author_img} alt={post.data.author}>}
                          {post.data.author}
                        </span>
                    </span>}
                </span>

              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <SponsorsSection />

</MainLayout>
