---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const successStories = (await getCollection('success-stories')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <!-- Hero -->
      <section class="text-gray-700">
        <div class="container mx-auto text-center flex items-center justify-center lg:flex-row relative py-10">
          <h1 class="text-4xl mb-2 font-medium py-8 relative">
            Success Stories
            <span class="absolute transition-all animate-scale-x-100 inset-x-0 bottom-5 h-1 bg-black"></span>
          </h1>
        </div>
      </section>

			<section class="container m-auto mb-6 animate-from-bottom-fade">
				<ul class="grid grid-cols-2 gap-6"> <!-- grid grid-cols-2 gap-8 -->
					{
						successStories.map((post, i) => (
							<li class={"flex first:col-span-2 first:w-full first:justify-center animate-from-bottom-fade " + "animate-delay-" + i}>
								<a class="bg-gray-100 rounded-lg transition-all shadow hover:shadow-lg" href={`/success-stories/${post.slug}/`}>
									<img class="rounded" width={720} height={360} src={post.data.heroImage} alt="" />
                  <span class="p-4 inline-block">
                    <h4 class="title">{post.data.title}</h4>
                    <p><FormattedDate date={post.data.pubDate} /></p>
                  </span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
